<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All news</title>
</head>
<body>

<header>
    <ul class="lang-bar">
        <li>
            <a class="lang" th:href="@{?locale=en}">[[#{English}]]</a>
        </li>
        <li>
            <a class="lang" th:href="@{?locale=ru}">[[#{Russian}]]</a>
        </li>
    </ul>
</header>
<div th:each="news : ${all_news}">
    <a th:href="@{/news/{id}(id=${news.getId()})}"
       th:text="${news.getTitle()}">Title</a>
</div>

<br/>

<hr/>
<a href="/news/new"> [[#{new}]]</a>

</body>
</html>